#button-container {
    content: "";
    /* background-color: blue; */
    display: flexbox;
    position: relative;
    width: auto;
    height: 100px;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.btn {
    display: inline-flex;
    position: relative;
    top: 10%;
    width: 30%;
    max-width: 100px;
    border: none; 
    border-radius: 50%;
    box-shadow: 0 3px #999;
}

.btn:active {
    display: inline-flex;
    position: relative;
    top: 10%;
    width: 30%;
    max-width: 100px;
    border: none; 
    border-radius: 50%;
    box-shadow: 0 0px #999;
    transform: translateY(3px);
}


#textBox {
    /* background-color: blueviolet;  */
    display: flexbox;
    position: relative;
    top: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#gameOver {
    font-size: 40px;
}

