#button-container {
    content: "";
    /* background-color: blue; */
    display: flexbox;
    position: relative;
    width: auto;
    height: 100px;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#rock, #paper, #scissors {
    display: inline-flex;
    position: relative;
    top: 10%;
    width: 25%;
}


#textBox {
    /* background-color: blueviolet;  */
    display: flexbox;
    position: relative;
    top: 20px;
    text-align: center;
}